html {
    background-color:#EFD6AF;
}
.center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.switch {
    background-color: #f7917e;
    border-radius: 15px;
    border-width: thin;
    padding: 15px
}

.switch-on {
    background-color: #C4EBB9;
}

.error {
    color: red
}